* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    background-color: rgb(223, 222, 222);
    padding: 20px;
    height: 100vh;

}

.login>input {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

.login>button {
    width: 100%;
    padding: 5px;
    border: unset;
    font-size: 1.1em;
    border-radius: 15px;
    letter-spacing: 0.5px;
}

.blue {
    background: rgb(1, 1, 213);
    color: white;
}

.white {
    background: unset;
}